
body {
  background-color: #E8ECEF;
}

#flash {
  opacity: 1;
  transition: opacity .33s;
  will-change: opacity;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
